<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Service</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container mt-4">
        <h1>Are you sure you want to delete "{{ service.name }}"?</h1>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Confirm Deletion</button>
        </form>
        <a href="{% url 'list_service' %}" class="btn btn-default mt-2">Cancel</a>
    </div>
</body>
</html>
